.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: cyan;
    height: 50px;
    background-color: rgb(151, 34, 151);
}